<ion-header>
  <ion-toolbar>
    <ion-img
      slot="start"
      style="height: 60px; width: 60px; margin-left: 5%"
      src="https://i.ibb.co/mqLRDh8/LinkMe.png"
      alt="LinkMe"
    ></ion-img>
    <ion-title slot="end">
      List of all links
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" refreshingSpinner="spiral">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-items></app-items>
</ion-content>
